<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

</style>
<center>
<div id="area1"></div>
<div id="area2"></div>
<select id="city">
      <option value="Palo Alto">Palo Alto</option>
      <option value="San Francisco">San Francisco</option>
      <option value="Oakland">Oakland</option>
      <option value="San Jose">San Jose</option>
</select>
<select id="item">
      <option value="Bread">Bread</option>
      <option value="Drug">Drug</option>
      <option value="Chocolate">Chocolate</option>
      <option value="Beer">Beer</option>
      <option value="Tobbaco">Tobbaco</option>
      <option value="Soda">Soda</option>
</select>
</center>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src={{ url_for('static', filename='d3.min.js') }}></script>
<script>
    $( "#city" ).change(function() {
        console.log($("#city option:selected").text())
    });
    $( "#item" ).change(function() {
        console.log($("#item option:selected").text())
    });
var listLocation=["San Francisco","Palo Alto","San Jose","Oakland"]
<!--var listLocation=["South"]-->
function outProcess(data){
    var len=data.length
    var tempAr=[]; 
    for(j=0;j<listLocation.length;j++){
    var Breadc=0; 
    var Sodac=0; 
    var Drugc=0; 
    var Chocolatec=0; 
    var Tobbacoc=0; 
    var Beerc=0; 
    var temp=[];  
    for(i=0;i<len;i++){
        if(data[i].location==listLocation[j]){
            var loc=data[i].location;
            switch (data[i].item){
            case "Bread":
                var Breadc=data[i].count.toString();
                break; 
            case "Soda":
                var Sodac=data[i].count.toString(); 
                break; 
            case "Drug":
                var Drugc=data[i].count.toString(); 
                break; 
            case "Chocolate":
                var Chocolatec=data[i].count.toString(); 
                break; 
            case "Tobbaco":
                var Tobbacoc=data[i].count.toString(); 
                break; 
            case "Beer":
                var Beerc=data[i].count.toString(); 
                break; 

            }
            temp={State:loc,Bread:Breadc,Soda:Sodac,Drug:Drugc,Chocolate:Chocolatec,Tobbaco:Tobbacoc,Beer:Beerc}; 
        }
                
    }
    tempAr.push(temp); 
    }
    return tempAr; 
}
setInterval(function()
    { 
            $.ajax({
              type:"get",
            url:"http://52.40.58.67:5000/api/update",
          datatype:"json",
        success:function(data)
      {
        //do something with response data
        var outData=outProcess(data)
        drawManyBar("#area1",outData)
      }
      });
        }, 3000);//time in milliseconds 

<!--var ddata=[{State:"SAN FRANCISCO",Bread:"27",Beer:"44"},{State:"PALO ALTO",Bread:"20",Beer:"32"}];-->
function drawManyBar(ref,ddata){
$(ref).empty()
var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x0 = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var x1 = d3.scale.ordinal();

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.ordinal()
    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var xAxis = d3.svg.axis()
    .scale(x0)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));

var svg = d3.select("#area1").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


 
  var ageNames = d3.keys(ddata[0]).filter(function(key) { return key !== "State"; });
  ddata.forEach(function(d) {
    d.ages = ageNames.map(function(name) { return {name: name, value: +d[name]}; });
  });

  x0.domain(ddata.map(function(d) { return d.State; }));
  x1.domain(ageNames).rangeRoundBands([0, x0.rangeBand()]);
  y.domain([0, d3.max(ddata, function(d) { return d3.max(d.ages, function(d) { return d.value; }); })]);
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("TOTAL ITEMS");

  var state = svg.selectAll(".state")
      .data(ddata)
    .enter().append("g")
      .attr("class", "state")
      .attr("transform", function(d) { return "translate(" + x0(d.State) + ",0)"; });

  state.selectAll("rect")
      .data(function(d) { return d.ages; })
    .enter().append("rect")
      .attr("width", x1.rangeBand())
      .attr("x", function(d) { return x1(d.name); })
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); })
      .style("fill", function(d) { return color(d.name); });

  var legend = svg.selectAll(".legend")
      .data(ageNames.slice().reverse())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });

  }
<!--DISSSSSSSTTTTTRIBUTION-->
var labelDis=["t0","t1","t2","t3","t4","t5","t6","t7","t8","t9","t10"]; 
function transDistinp(data){
    var len=data.length        
    var city=$("#city option:selected").text()
    var item=$("#item option:selected").text()
    var dis1=[]; 
    var out=[]; 
    <!--console.log(item)-->
    for (i=0;i<len;i++){
        <!--console.log(data[i])-->
        if(data[i].location==city && data[i].item==item){
            <!--console.log(data[i].dis10)-->
            dis10=data[i].dis10; 
        }   
    }
    for(i=0;i<dis10.length;i++){
        var temp={frequency:dis10[i],letter:labelDis[i]}
        out.push(temp); 
    }
    return out; 
}
setInterval(function()
    { 
            $.ajax({
              type:"get",
            <!--url:"http://52.40.58.67:5000/ajaxtest",-->
            url:"http://52.40.58.67:5000/api/disti",
          datatype:"json",
        success:function(data)
      {
          console.log(data)
          console.log(transDistinp(data))
          <!--drawdraw("#area2",data)-->
          drawdraw("#area2",transDistinp(data))
          <!--console.log(data)-->
      }
      });
        }, 3000);//time in milliseconds 
    function drawdraw(ref,jsondata){
        $(ref).empty()
        var datajson=JSON.stringify(jsondata)
        var jsonresponse=jQuery.parseJSON(datajson);
var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);
var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10," " );

var svg = d3.select("#area2").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  x.domain(jsonresponse.map(function(d) {return d.letter;})); 
  y.domain([0,d3.max(jsonresponse,function(d) {return d.frequency;})]);
   svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("count");

  svg.selectAll(".bar")
      .data(jsonresponse)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.letter); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.frequency); })
      .attr("height", function(d) { return height - y(d.frequency); });
  }
function type(d) {
  d.frequency = +d.frequency;
  return d;
}
function typeOf (obj) {
      return {}.toString.call(obj).split(' ')[1].slice(0, -1).toLowerCase();
}

</script>
